@use "variables";

@font-face {
    font-family: "Junicode Italic";
    src: url("/fonts/JunicodeVF-Italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Junicode Light";
    src: url("/fonts/JunicodeVF-Roman.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    color: variables.$color-text;
    padding: variables.$spacing-l;
    background-color: variables.$color-background;
    max-width: 1440px;
    overflow: scroll;
    height: fit-content;
    transition: ease-in-out background-color .3s;
}

a {
    font-family: variables.$font-special-light;
    font-size: variables.$font-size-s;
    user-select: none;

    &:hover {
        font-family: variables.$font-special-italic;
        text-decoration: underline 1px;
    }
}

p {
    font-size: variables.$font-size-s;
    font-family: variables.$font-normal;
    font-weight: 200;
}

button {
    font-family: variables.$font-special-light;
    font-size: variables.$font-size-s;
    background: none;
    color: variables.$color-text;
    cursor: pointer;
    user-select: none;
}

h2 {
    font-size: variables.$font-size-l;
    font-family: variables.$font-special-light;
}