---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <div class="leftColumn">
        <img src="/images/profile.png" alt="a picture of myself" class="profileImage">
        <div class="contact">
            <h2>Contact</h2>
            <ul class="contactInformations">
                <li>Mail : <a href=""></a>loicleforestier.pro@gmail.com</a></li>
                <li>Instagram : <a href=""></a>loicleforestier.pro@gmail.com</a></li>
                <li>linkedin : <a href=""></a>loicleforestier.pro@gmail.com</a></li>
                <li>mail : <a href=""></a>loicleforestier.pro@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <div class="rightColumn">
        <p class="profileDescription">Lorem ipsum dolor sit amet consectetur. Diam et malesuada nulla in donec. Dui scelerisque erat sed sollicitudin amet neque a. Nulla at morbi purus eget eu vitae auctor molestie pharetra. Eget bibendum elementum odio feugiat facilisis diam imperdiet. Cursus in at hac tristique justo quam egestas risus. Eget tortor netus amet etiam bibendum eu aliquam. Nibh faucibus turpis sed arcu.</p>
    </div>
</Layout>

<style lang="scss">
    @use "../styles/_variables";

    main:global {
        overflow: visible;
    }
    .leftColumn {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: variables.$spacing-xl;

        img {
            width: 40vh;
        }
    }

    .rightColumn {
        max-width: 400px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-l;;
    }

    .contactInformations {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-s;
        // width: 500px;
        li {
            font-size: variables.$font-size-s;
            font-family: variables.$font-normal;
            font-weight: 200;
        }
    }
</style>