---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <div class="container">
        <div class="leftColumn">
            <img src="/images/profile.png" alt="a picture of myself" class="profileImage">
            <div id="contact" class="contact">
                <h2>Contact</h2>
                <ul class="contactInformations">
                    <li>Mail: <button id="copyEmailButton">loicleforestier.pro@gmail.com</button></li>
                    <li>Instagram: <a href="https://www.instagram.com/loicl_photographie/" target="_blank" rel="noopener noreferrer">@loicl_photographie</a></li>
                    <li>linkedin: <a href="https://www.linkedin.com/in/lo%C3%AFc-l-259a00215/" target="_blank" rel="noopener noreferrer">loïc Leforestier</a></li>
                    <li>Github: <a href="https://github.com/Safirl" target="_blank" rel="noopener noreferrer">Safirl</a></li>
                    <li>Itch.io: <a href="https://safirl.itch.io/" target="_blank" rel="noopener noreferrer">Safirl</a></li>
                </ul>
            </div>
        </div>
        <div class="rightColumn">
            <p class="profileDescription">I'm Loïc Leforestier, a french technical designer and artist. I like to create art in different forms and make websites focused on the user experience. More than just a tool, a good design can simplify our lives when used for deep causes and connect us together.</p>
        </div>
    </div>
    <div class="footer"><span>Loïc Leforestier -&nbsp;</span><a href="/mentions">Mention légales</a></div>
</Layout>

<style lang="scss">
    @use "../styles/_variables";

    body {
        overflow: auto;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 10vw;
        width: 100%;
    }

    .leftColumn {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: variables.$spacing-xxl;

        img {
            width: 30vh;
        }
    }

    .rightColumn {
        max-width: 500px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-m;
    }

    .contactInformations {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-xs;
        // width: 500px;
        li {
            font-size: variables.$font-size-s;
            font-family: variables.$font-normal;
            font-weight: 200;
        }

        a, button {
            font-size: variables.$font-size-s;
            font-family: variables.$font-normal;
            font-weight: 200;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: variables.$spacing-xl;
        padding-bottom: variables.$spacing-m;
        opacity: 50%;

        a {
            font-size: variables.$font-size-s;
            font-family: variables.$font-normal;
            font-weight: 200;
        }
    }

    //For touchscreen in portrait mode
    @media (orientation: portrait) {
        .container {
            flex-direction: column-reverse;
            gap: variables.$spacing-m;
        }

        .leftColumn {
            gap: variables.$spacing-xl;
        }

        .contactInformations {
            li {
                font-size: variables.$mobile-font-size-s;
            }
            a, button {
                font-size: variables.$mobile-font-size-s;
            }
        }

        .footer a {
            font-size: variables.$mobile-font-size-s;
        }
    }
</style>

<script>
    function copyToClipBoard() {
        const copyText = "loicleforestier.pro@gmail.com";
        navigator.clipboard.writeText(copyText)
            .then(() => alert("Email copied to your clipboard!"))
            .catch(err => console.error("Failed to copy:", err));
    }

    document.addEventListener("DOMContentLoaded", () => {
        const button = document.querySelector("#copyEmailButton");
        if (button) {
            button.addEventListener("click", copyToClipBoard);
        }
    });
</script>