---

---

<nav>
  <ul>
    <li><a href="/">Loic Leforestier</a></li>
    <div class="nav-links">
      <li><a href="/profile">About</a></li>
      <li><a href="/profile#contact">Contact</a></li>
    </div>
  </ul>
</nav>

<style lang="scss">
  @use "../styles/variables";

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-links {
      display: flex;
      width: 200px;
      justify-content: space-between;
    }
  }

  @media (orientation: portrait) {
    ul {
      .nav-links {
        width: 100px;
      }
    }
  }
</style>

<script>
</script>
