---
import "../styles/reset.scss";
import "../styles/global.scss";
import Navbar from "../components/Navbar.astro";

const { title, children } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <main>
        <slot />
    </main>
  </body>
</html>

<style lang="scss">
  @use "../styles/_variables";
  main {
    padding-top: 10vh;
  }

  @media (orientation: portrait) {
    main {
      padding-top: variables.$spacing-m;
      // height: calc(100vh - #{variables.$spacing-m * 2}); //remove 
      height: 100%;
      box-sizing: border-box;
    }
  }

</style>
